<section>
    <video
        autoplay
        loop
        muted
        width="1280"
        height="1000"
        aria-label="{{component.fields.asset.fields.file.description}}"
        poster="/styles/assets/hero-image-background.webp"
    >
        <!-- video moet werken maar werkt niet, de persoon die hiervoor mee bezig was lukte dat ook niet dus heeft een statische afbeelding gebruikt. -->
        <!-- nvm hoe ze dit hebben gedaan werkt alleen in chrome canary -->
        <source src='https:{{component.fields.asset.fields.file.url}}' type="video/webm" /> 
    </video>
    <div class="hero-content">
      <h1>{{ component.fields.title }}</h1>
      <p>{{ component.fields.subtitle }}</p>
    </div>
    
    
</section>
