<section>
        <h2>{{ component.fields.title }}</h2>      
        <p>{{ component.fields.textParagraph }}</p>
        <img src="https:{{component.fields.asset.fields.file.url}}" alt="{{component.fields.asset.fields.title}}">
</section>