---
pagination: 
    data: contentful
    size: 1
    alias: page
    addAllPagesToCollections: true
permalink: "{{ page.slug | slug }}/"
tags: "page"
layout: layout.njk

eleventyComputed:
    title: "{{ page.title }}"
---
<!-- pagination is ervoor om eht bij deze uit contentful te halen en in de public map meerdere mappen te maken -->
<!-- eleventy computed = om dingen dynamisch te maken -->

<!-- Dit is de front matter. Is alles wat in het template wordt verwezen met de dubbele curly brackets zet je hierin -->
<!-- De front matter moet helemaal bovenaan het bestand staan bij 1 anders genereerd hij dit niet -->

<a href="/">ga naar home</a>

<ul>

    {%- for post in collections.post | reverse -%} <!-- als je | reverse doet dan doet hij de laatst gemaakte post eerst, als je dit niet doet dan doet hij post op chronologische volgorde -->

    {% include 'snippets/article-snippet.njk' %}  

    {%- endfor %}

    {%- for component in page.components -%}
        <p>hi</p>
        {{ component.sys.contentType.sys.id}}
        {% if component.sys.contentType.sys.id == "hero" %}
            <p>dit is een hero</p>
        {% elsif component.sys.contentType.sys.id == "Card" %}
            <p>dit is een card</p>
        {% elsif component.sys.contentType.sys.id == "Footer" %}
            <p>dit is een footer</p>
        {% elsif component.sys.contentType.sys.id == "itemCollection" %}
            <p>dit is een item</p>
        {% elsif component.sys.contentType.sys.id == "typeText" %}
            <p>dit is een text</p>
        {% elsif component.sys.contentType.sys.id == "navigation" %}
            <p>dit is een navigatie</p>
        {% elsif component.sys.contentType.sys.id == "typeAssets" %}
            <p>dit is een asset</p>
        {% elsif component.sys.contentType.sys.id == "typeLink" %}
            <p>dit is een link</p>
        {% elsif component.sys.contentType.sys.id == "typeText" %}
            <p>dit is een link</p>
        {% endif %}
    {% endfor %}
    
</ul>

<!-- {{ contentful }} -->